@model imagem.Models.Produto
    

@{
    ViewData["Tilte"] = "Produto";
}

<h1>Detalhes Produtos</h1>
<hr/>

<div class="row">
    <div class="col-md-4">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <Label asp-for="Nome" class="control-label"></Label>
            <input asp-for="Nome" class="form-control" readonly />
            <span asp-validation-for="Nome" class="text-danger"></span>
         </div>

         <div class="form-group">
             <label asp-for="Valor" class="control-label"></label>
             <input asp-for="Valor" class="form-control" readonly />
         </div>

         <div class="form-group">
             @{
                 try
                 {
                     var base64 = Convert.ToBase64String(Model.Foto);
                     if (!string.IsNullOrEmpty(base64))
                     {
                         var imgSrc = String.Format("data: image/png;base64,{0}", base64);
                         <img class="img-fluid" src="@imgSrc" width="300" />
                     }
                 }

                 catch
                 {
                     <img class="img-fluid" src="link" width"150" />
                 }       
             }
        </div>

        <div class="form-group" style="margin-top:15px;">
            <a class ="btn btn-outline-primary btn-sm" asp-action="Edit" asp-route-id="@Model.Id">Editar</a>
            <a class =btn btn-secondary text-white btn-sm" asp-action="Index">Voltar</a>
        </div>
    </div>
</div>